@font-face {
    font-family: 'Slight';
    src: url('Slight-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Simple Serenity';
    src: url('SimpleSerenitySerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.landing-container {
    background-color: #011730;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}

.titulo {
    color: white;
    font-size: 50px;
    z-index: 2;
}

.brillo {
    position: relative;
    display: inline-block;
    animation: brillo-anim 2s infinite;
    font-family: 'Slight', sans-serif;
}

@keyframes brillo-anim {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.6);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1);
    }
}

canvas#sparkles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.imagen-izquierda, .imagen-derecha {
    position: absolute;
    top: calc(55% - 50px);
    width: 20vw;
    height: auto;
    transform-origin: center;
    z-index: 0;
}

.imagen-izquierda {
    left: 30%;
    transform: scaleX(-1) rotate(-15deg);
}

.imagen-derecha {
    right: 30%;
    transform: rotate(-15deg);
}

.invitation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    background-color: #011730;
    color: #ffffff;
    margin: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    box-sizing: border-box;
}

.invitation-container h3 {
    font-family: 'Slight', sans-serif;
    font-size: 1.5rem;
}

.invitation-container h1 {
    font-family: 'Simple Serenity', sans-serif;
}

.invitation-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.graduation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.graduation-header h1 {
    font-family: 'Simple Serenity', sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    margin: 0;
}

.imagengrad-izquierda, .imagengrad-derecha {
    width: 100px;
    height: auto;
}

.message p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #cfcfcf;
}

.details-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #0e1a2b;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #e0e0e0;
}

.reception-container {
    text-align: center;
    color: #ffffff;
    background-color: #011730;
    padding: 40px;
}

.reception-title {
    font-size: 3.5rem;
    font-family: 'Slight', cursive;
    margin-bottom: 20px;
}

.reception-details {
    font-family: 'Simple Serenity', sans-serif;
    margin: 60px 0;
}

.date-time-container {
    display: inline-block;
    text-align: center;
}

.date-time {
    font-size: 1.2rem;
    font-family: 'Simple Serenity', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.date-time span {
    font-size: 1.2rem;
}

.venue {
    font-size: 1.2rem;
    font-family: 'Simple Serenity', sans-serif;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.venue p {
    margin: 5px 0;
}

.gift-note {
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #cfcfcf;
}

.dress-code-container {
    text-align: center;
    color: #0e1a2b;
    font-family: Arial, sans-serif;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin-top: 40px;
}

.dress-code-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0e1a2b;
    margin-bottom: 10px;
}

.dress-code-description {
    font-size: 1rem;
    color: #0e1a2b;
    margin-bottom: 5px;
}

.confirmation {
    margin-top: 40px;
    text-align: center;
    color: #0e1a2b;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.contact-numbers {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    color: #0e1a2b;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 40px;
    }

    .imagen-izquierda, .imagen-derecha {
        width: 30vw;
        top: calc(55% - 30px);
    }

    .imagen-izquierda {
        left: 10%; /* Ajusta la posición a la izquierda */
    }

    .imagen-derecha {
        right: 10%; /* Ajusta la posición a la derecha */
    }

    .graduation-header h1 {
        font-size: 2.5rem;
    }

    .imagengrad-izquierda, .imagengrad-derecha {
        width: 80px;
    }

    .reception-title {
        font-size: 2.5rem;
    }

    .date-time, .venue {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 30px;
    }

    .imagen-izquierda, .imagen-derecha {
        width: 60vw;
        top: calc(55% - 65px);
        position: absolute;
    }
    .imagen-izquierda {
        left: -5vw; /* Ajusta la posición horizontal de la imagen izquierda */
        transform: scaleX(-1) rotate(-25deg); /* Efecto espejo y rotación de -15 grados en la imagen izquierda */
    }
    
    .imagen-derecha {
        right: -5vw; /* Ajusta la posición horizontal de la imagen derecha */
        transform: scaleX(1) rotate(-25deg); /* Efecto espejo y rotación de -15 grados en la imagen izquierda */
    }

    .graduation-header h1 {
        font-size: 2rem;
    }

    .imagengrad-izquierda, .imagengrad-derecha {
        width: 60px;
    }

    .reception-title {
        font-size: 2rem;
    }

    .date-time, .venue {
        font-size: 0.9rem;
    }

    .message p {
        font-size: 0.9rem;
    }

    .details-button {
        font-size: 0.9rem;
    }
}